@model PagedList.IPagedList<Models.Entity.Product>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Title Page -->
<div class="title-page" style="background-image: url(/Asset/Client/images/title-page-01.png);">
    <div class="container">
        <h1 class="main-title">
            Products
        </h1>

        <ul class="breadcrumbs">
            <li>
                <a href="/">
                    Home
                </a>
            </li>

            <li>
                Products
            </li>
        </ul>
    </div>
</div>
<!-- end Title Page -->
<!-- content services-page -->
<div class="sec--content--services-page">
    <div class="container">
        <div class="hun-element-heading layout-1 text-center">
            <h3 class="title-element">
                Our products
            </h3>

            <div class="line-element">
                <img src="/Asset/Client/images/icons/wave-line-02.png" alt="IMG">
            </div>
        </div>

        <div class="hun-element-service layout-1">
            <div id="product-section" class="row">

                @foreach (var product in Model)
                {
                    <div class="col-md-6 col-xl-4">
                        <div class="item-element">
                            <div class="pic-item">
                                <a href="/productdetail?id=@product.id" class="wrap-pic">
                                    <img style="width:245px;height:245px" src="@product.image" alt="IMG">
                                </a>
                            </div>

                            <div class="text-item">
                                <h4 class="title-item">
                                    <a href="/productdetail?id=@product.id">
                                        @product.name
                                    </a>
                                </h4>

                                <div class="meta-info-item">
                                    <span class="item-info">
                                        <i class="zmdi zmdi-money-box"></i>
                                        $@product.price
                                    </span>
                                </div>

                                <div class="description-item">
                                    @product.description
                                </div>
                            </div>

                            <div class="foot-item">
                                <div class="author-item">
                                    <a href="#" class="pic-author">
                                        <img src="/Asset/Client/images/ava-01.jpg" alt="IMG">
                                    </a>

                                    <span class="text-author">
                                        <a href="#" class="name-author">
                                            Victoria Webb
                                        </a>

                                        Spa Therapist
                                    </span>
                                </div>

                                <a href="booking.html" class="link-item">
                                    Buy now
                                </a>
                            </div>
                        </div>
                    </div>
                }





            </div>

            <div class="loop-pagination text-center">
                <ul>
                    @{
                        if (Model.PageNumber == 1)
                        {
                            <li class="d-none">
                                <a href="#" class="page-numbers prev">
                                    <i class="zmdi zmdi-chevron-left"></i>
                                </a>
                            </li>
                        }
                        else
                        {

                            var prevalue = Model.PageNumber;
                            if (Model.PageNumber > 1)
                            {
                                prevalue = Model.PageNumber - 1;
                            }

                            <li>
                                <a href="/Product/Index?page=@prevalue" class="page-numbers prev">
                                    <i class="zmdi zmdi-chevron-left"></i>
                                </a>
                            </li>
                        }
                    }


                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        if (Model.PageNumber == i)
                        {
                            <li>
                                <a href="/Product/Index?page=@i" class="page-numbers current">
                                    @i
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Product/Index?page=@i" class="page-numbers">
                                    @i
                                </a>
                            </li>
                        }
                    }

                    <li>
                        @{
                            var nextvalue = Model.PageNumber;
                            if (Model.PageNumber < Model.PageCount)
                            {
                                nextvalue = Model.PageNumber + 1;
                            }
                        }
                        <a href="/Product/Index?page=@nextvalue" class="page-numbers next">
                            <i class="zmdi zmdi-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end content services-page -->
