<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="/Admin/HomeAdmin">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="fontawesome.html">
                        <i class="fa fa-angle-double-up"></i>
                        <span>Booking </span>
                    </a>
                    <ul class="sub">
                        <li><a href="/Admin/BookingAdmin/Index">List Booking</a></li>
                        <li><a href="/Admin/BookingAdmin/Create">Add Booking</a></li>
                        <li><a href="/Admin/BookingAdmin/Schedule">Manage Schedule</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-user"></i>
                        <span>Account</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/Admin/AccountAdmin/Index">List Account</a></li>
                        <li><a href="/admin/createaccount">Add Account</a></li>
                    </ul>
                </li>
                <li>
                    <a href="fontawesome.html">
                        <i class="fa fa-product-hunt"></i>
                        <span>Product </span>
                    </a>
                    <ul class="sub">
                        <li><a href="/Admin/ProductAdmin/Index">List Product</a></li>
                        <li><a href="/Admin/ProductAdmin/Create">Add Product</a></li>
                        <li><a href="/Admin/ProductCategory/Index">List Product Category</a></li>
                        <li><a href="/Admin/ProductCategory/Create">Add Product Category</a></li>
                    </ul>
                </li>
                <li>
                    <a href="fontawesome.html">
                        <i class="fa fa-smile-o"></i>
                        <span>Services </span>
                    </a>
                    <ul class="sub">
                        <li><a href="/Admin/ServicesAdmin/Index">List Services</a></li>
                        <li><a href="/Admin/ServicesAdmin/Create">Add Services</a></li>
                        <li><a href="/Admin/ServicesCategoryAdmin/Index">List Services Category</a></li>
                        <li><a href="/Admin/ServicesCategoryAdmin/Create">Add Services Category</a></li>
                    </ul>
                </li>
                <li>
                    <a href="fontawesome.html">
                        <i class="fa fa-pencil"></i>
                        <span>Blog </span>
                    </a>
                    <ul class="sub">
                        <li><a href="/Admin/ContentAdmin/Index">List Blog</a></li>
                        <li><a href="/Admin/ContentAdmin/Create">Add Blog</a></li>
                        <li><a href="/Admin/ContentCategoryAdmin/Index">List Blog Category</a></li>
                        <li><a href="/Admin/ContentCategoryAdmin/Create">Add Blog Category</a></li>
                    </ul>
                </li>
                <li>
                    <a href="fontawesome.html">
                        <i class="fa fa-reddit-square"></i>
                        <span>Room & Bed</span>
                    </a>
                    <ul class="sub">
                        <li>
                            <a href="fontawesome.html">
                                <i class="fa fa-android"></i>
                                <span>Room</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/Admin/RoomAdmin/Index">List Room</a></li>
                                <li><a href="/Admin/RoomAdmin/Create">Add Room</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="fontawesome.html">
                                <i class="fa fa-apple"></i>
                                <span>Bed</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/Admin/BedAdmin/Index">List Bed</a></li>
                                <li><a href="/Admin/BedAdmin/Create">Add Bed</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                @*<li>
                    <a href="fontawesome.html">
                        <i class="fa fa-first-order"></i>
                        <span>Orders </span>
                    </a>
                    <ul class="sub">
                        <li><a href="/Admin/OrdersAdmin/Index">List Order</a></li>
                    </ul>
                </li>*@
                <li>
                    <a href="fontawesome.html">
                        <i class="fa fa-users"></i>
                        <span>Customer </span>
                    </a>
                    <ul class="sub">
                        <li><a href="/Admin/CustomerAdmin/Index">List Cusotmer</a></li>
                    </ul>
                </li>
                <li>
                    <a href="fontawesome.html">
                        <i class="fa fa-pencil-square"></i>
                        <span>Page Content</span>
                    </a>
                    <ul class="sub">
                        <li>
                            <a href="fontawesome.html">
                                <i class="fa fa-bookmark"></i>
                                <span>About</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/Admin/AboutAdmin/Index">List About</a></li>
                                <li><a href="/Admin/AboutAdmin/Create">Add About</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="fontawesome.html">
                                <i class="fa fa-phone"></i>
                                <span>Contact</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/Admin/ContactAdmin/Index">List Contact</a></li>
                                <li><a href="/Admin/ContactAdmin/Create">Add Contact</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="fontawesome.html">
                                <i class="fa fa-mercury"></i>
                                <span>Footer</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/Admin/FooterAdmin/Index">List Footer</a></li>
                                <li><a href="/Admin/FooterAdmin/Create">Add Footer</a></li>
                                <li><a href="/Admin/FooterCategoryAdmin/Index">List Footer Category</a></li>
                                <li><a href="/Admin/FooterCategoryAdmin/Create">Add Footer Category</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="fontawesome.html">
                                <i class="fa fa-book"></i>
                                <span>Menu</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/Admin/MenuAdmin/Index">List Menu</a></li>
                                <li><a href="/Admin/MenuAdmin/Create">Add Menu</a></li>
                                <li><a href="/Admin/MenuTypeAdmin/Index">List Menu Type</a></li>
                                <li><a href="/Admin/MenuTypeAdmin/Create">Add Menu Type</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="fontawesome.html">
                                <i class="fa fa-book"></i>
                                <span>Slide</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/Admin/SlideAdmin/Index">List Slide</a></li>
                                <li><a href="/Admin/SlideAdmin/Create">Add Slide</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
