<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="index.html">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-user"></i>
                        <span>Account</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/Admin/AccountAdmin/Index">List Account</a></li>
                        <li><a href="/admin/createaccount">Add Account</a></li>
                    </ul>
                </li>
                <li>
                    <a href="fontawesome.html">
                        <i class="fa fa-product-hunt"></i>
                        <span>Product </span>
                    </a>
                    <ul class="sub">
                        <li><a href="/Admin/ProductAdmin/Index">List Product</a></li>
                        <li><a href="/Admin/ProductAdmin/Create">Add Product</a></li>
                    </ul>
                </li>
                <li>
                    <a href="fontawesome.html">
                        <i class="fa fa-smile-o"></i>
                        <span>Services </span>  
                    </a>
                    <ul class="sub">
                        <li><a href="/Admin/ServicesAdmin/Index">List Services</a></li>
                        <li><a href="/Admin/ServicesAdmin/Create">Add Services</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
