/*[ hun-element-main-slider ]
//////////////////////////////////////////////////////////////////*/

/*\
 *
 * layout-1
 *
\*/
.hun-element-main-slider.layout-1 {
	clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
	position: relative;

	.main-slider {
		position: relative;

		.slide-slick {
			.slick-track {
				display: flex;
				flex-wrap: wrap;
				align-items: stretch;
			}
		}

		.item-slick {
			border: none;
			min-height: 100vh;
			height: unset;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			z-index: 0;
			padding-left: 80px;
			padding-right: 80px;
			padding-top: 200px;
			padding-bottom: 100px;

			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				background-color: #000;
				opacity: .55;
			}

			.content-slide {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;

				.subtitle-slide {
					font-weight: 400;
					font-size: 30px;
					line-height: 1.3;
					color: #fff;
					text-transform: uppercase;
					letter-spacing: 6px;
					margin-bottom: 25px;
				}

				.title-slide {
					font-weight: 400;
					font-size: 120px;
					line-height: 1;
					color: #fff;
					margin-bottom: 53px;
				}

				.buttons-slide {
					letter-spacing: 10px;

					.hun-button {
						min-width: 174px;
						text-transform: uppercase;
						margin: 6px 0;
					}
				}
			}
		}

		.dots-slick {
			position: absolute;
			top: 0;
			right: 18px;
			height: 100%;

			.slick-dots {
				list-style-type: none;
				padding: 0;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				li {
					cursor: pointer;
					width: 22px;
					height: 22px;
					padding: 5px;
					margin: 7px;

					span {
						display: block;
						width: 100%;
						height: 100%;
						border-radius: 50%;
						border: 1px solid #fff;
						padding: 2px;

						&::before {
							content: '';
							display: block;
							width: 100%;
							height: 100%;
							border-radius: 50%;
							background-color: #fff;
							opacity: 0;
							transition: all .3s;
						}
					}

					&:hover,
					&.slick-active {
						span::before {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	.social-slider {
		position: absolute;
		height: 100%;
		top: 0;
		left: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.item-social {
			font-size: 17px;
			line-height: 1;
			color: #ccc;
			padding: 5px;
			margin: 8px 5px;
			opacity: .8;
			transition: all .3s;

			&:hover {
				color: #fff;
				opacity: .9;
			}
		}
	}

	@media (max-width: 1299px) {
		.main-slider {
			.item-slick {
				.content-slide {
					.title-slide {
						font-size: 100px;
					}
				}
			}
		}
	}

	@media (max-width: 1199px) {
		.main-slider {
			.item-slick {
				.content-slide {
					.subtitle-slide {
						font-size: 25px;
					}

					.title-slide {
						font-size: 90px;
					}
				}
			}
		}
	}

	@media (max-width: 991px) {
		.main-slider {
			.item-slick {
				padding-top: 160px;
				padding-bottom: 50px;

				.content-slide {
					.subtitle-slide {
						font-size: 20px;
						letter-spacing: 5px;
						margin-bottom: 20px;
					}

					.title-slide {
						font-size: 69px;
						margin-bottom: 48px;
					}
				}
			}
		}
	}

	@media (max-width: 767px) {
		.main-slider {
			.item-slick {
				padding-left: 69px;
				padding-right: 69px;
				padding-top: 100px;
				padding-bottom: 50px;

				.content-slide {
					.subtitle-slide {
						font-size: 18px;
						letter-spacing: 3px;
					}

					.title-slide {
						font-size: 55px;
					}
				}
			}

			.dots-slick {
				right: 8px;
			}
		}

		.social-slider {
			left: 10px;
		}
	}

	@media (max-width: 575px) {
		.main-slider {
			.item-slick {
				padding-left: 50px;
				padding-right: 50px;

				.content-slide {
					.subtitle-slide {
						font-size: 15px;
						line-height: 1.5;
					}

					.title-slide {
						font-size: 38px;
					}
				}
			}

			.dots-slick {
				right: 0px;
			}
		}

		.social-slider {
			left: 0px;
		}
	}
}

/*\
 *
 * layout-2
 *
\*/
.hun-element-main-slider.layout-2 {
	position: relative;

	.main-slider {
		position: relative;

		.slide-slick {
			.slick-track {
				display: flex;
				flex-wrap: wrap;
				align-items: stretch;
			}
		}

		.item-slick {
			border: none;
			min-height: 100vh;
			height: unset;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			z-index: 0;

			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				background-color: #fff;
				opacity: 0;
			}

			.content-slide {
				width: 50%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				padding: 50px;

				.title-slide {
					font-weight: 400;
					font-size: 100px;
					line-height: 1;
					color: $main-color-02;
					margin-bottom: 59px;
				}

				.buttons-slide {
					letter-spacing: 10px;

					.hun-button {
						min-width: 174px;
						text-transform: uppercase;
						margin: 6px 0;
					}
				}
			}
		}

		.dots-slick {
			position: absolute;
			top: 0;
			right: -80px;
			width: 80px;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			.slick-dots {
				list-style-type: none;
				padding: 0;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-end;

				li {
					cursor: pointer;
					font-family: $main-font-02;
					font-weight: 400;
					font-size: 20px;
					line-height: 1.3;
					color: $text-color-01;
					padding: 10px 0;
					transition: all .3s;					

					&:hover {
						color: $main-color-02;
					}

					&.slick-active {
						font-size: 30px;
						color: $main-color-02;
					}
				}
			}
		}
	}

	.social-slider {
		position: absolute;
		width: 80px;
		height: 100%;
		top: 0;
		left: -80px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.item-social {
			font-size: 17px;
			line-height: 1;
			color: $main-color-02;
			padding: 5px;
			margin: 8px 5px;
			opacity: .8;
			transition: all .3s;

			&:hover {
				color: $main-color-01;
			}
		}
	}

	@media (max-width: 1600px) {
		.main-slider {
			.item-slick {
				.content-slide {
					width: 60%;
				}
			}
		}
	}

	@media (max-width: 1299px) {
		.main-slider {
			.item-slick {
				.content-slide {
					.title-slide {
						font-size: 90px;
						margin-bottom: 50px;
					}
				}
			}

			.dots-slick {
				right: -50px;
				width: 50px;
			}
		}

		.social-slider {
			width: 50px;
			left: -50px;
		}
	}

	@media (max-width: 1199px) {
		.main-slider {
			.item-slick {
				.content-slide {
					width: 65%;
					margin-right: auto;
					margin-left: auto;
					padding: 60px;
				}

				&::before {
					opacity: .6;
				}
			}

			.dots-slick {
				right: 0;
			}
		}

		.social-slider {
			left: 0;
		}
	}

	@media (max-width: 991px) {
		.main-slider {
			.item-slick {
				.content-slide {
					width: 80%;

					.title-slide {
						font-size: 69px;
						margin-bottom: 48px;
					}
				}
			}
		}
	}

	@media (max-width: 767px) {
		.main-slider {
			.item-slick {
				.content-slide {
					.title-slide {
						font-size: 55px;
					}
				}
			}
		}
	}

	@media (max-width: 575px) {
		.main-slider {
			.item-slick {
				.content-slide {
					width: 100%;
					padding: 50px;

					.title-slide {
						font-size: 38px;
					}
				}
			}

			.dots-slick {
				width: 40px;

				.slick-dots {
					li {
						font-size: 16px;

						&.slick-active {
							font-size: 25px;
						}
					}
				}
			}
		}

		.social-slider {
			width: 40px;
		}
	}
}

/*\
 *
 * layout-3
 *
\*/
.hun-element-main-slider.layout-3 {
	.main-slider {
		position: relative;

		.slide-slick {
			overflow: hidden;

			.slick-list {
				margin-right: -13px;
				margin-left: -13px;
				overflow: visible;

				.slick-track {
					margin-left: auto;
					margin-right: auto;
					display: flex;
					align-items: stretch;
				}
			}

			.item-slick {
				padding: 0px 13px;
				height: unset;
			}
		}

		.arrows-slick {
			pointer-events: none;
			position: absolute;
			z-index: 10;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.item-arrow {
				pointer-events: auto;
				cursor: pointer;
				display: block;
				width: 80px;
				height: 80px;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all .3s;

				&::before {
					content: '';
					display: block;
					width: 26px;
					height: 2px;
					background-color: #ccc;
					transition: all .3s;
				}

				&::after {
					content: '';
					display: block;
					width: 12px;
					height: 12px;
					border: 2px solid #ccc;
					transform: rotate(45deg);
					transition: all .3s;
				}

				&.next-slick {
					margin-right: -80px;
					margin-left: auto;

					&::after {
						border-left: none;
						border-bottom: none;
						margin-left: -13px;
					}
				}

				&.prev-slick {
					margin-left: -80px;
					margin-right: auto;
					flex-direction: row-reverse;

					&::after {
						border-right: none;
						border-top: none;
						margin-right: -13px;
					}
				}

				&:hover {
					border-color: $main-color-01;

					&:before {
						background-color: $main-color-01;
					}

					&:after {
						border-color: $main-color-01;
					}
				}

				&.slick-arrow.slick-hidden {
					display: none;
				}

				&[aria-disabled="true"] {
					visibility: hidden;
				}
			}
		}
	}

	.item-element {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
		padding-top: 146%;
		position: relative;

		.content-item {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
			padding: 3.8% 6.3%;
			@include bg-gradient-vertical(transparent 10%, rgba($main-color-01-R,$main-color-01-G,$main-color-01-B, .8));
			opacity: 0;
			pointer-events: none;
			transition: all .3s;

			.title-item {
				font-weight: 400;
				font-size: 30px;
				line-height: 1.1;
				color: #fff;
				word-break: break-word;
				margin-bottom: 6px;
				opacity: 0;
				transform: translateY(-100%);
				transition: all .3s;
			}

			.description-item {
				font-weight: 400;
				font-size: 15px;
				line-height: 1.8;
				color: #fff;
				word-break: break-word;
				opacity: 0;
				transform: translateY(100%);
				transition: all .3s;
			}
		}

		&:hover {
			.content-item {
				opacity: 1;
				pointer-events: auto;

				.title-item,
				.description-item {
					opacity: 1;
					transform: translateY(0%);
				}
			}
		}
	}

	@media (max-width: 1299px) {
		.main-slider {
			.arrows-slick {
				.item-arrow {
					width: 50px;
					height: 50px;

					&.next-slick {
						margin-right: -50px;
					}

					&.prev-slick {
						margin-left: -50px;
					}
				}
			}
		}
	}

	@media (max-width: 1199px) {
		.main-slider {
			.arrows-slick {
				.item-arrow {
					&::before {
						background-color: #fff;
					}

					&::after {
						border-color: #fff;
					}

					&.next-slick {
						margin-right: 0px;
					}

					&.prev-slick {
						margin-left: 0px;
					}
				}
			}
		}
	}
}

/*\
 *
 * layout-4
 *
\*/
.hun-element-main-slider.layout-4 {
	.main-slider {
		position: relative;

		.slide-slick {
			.slick-track {
				display: flex;
				flex-wrap: wrap;
				align-items: stretch;
			}
		}

		.item-slick {
			border: none;
			min-height: 100vh;
			height: unset;
			position: relative;
			z-index: 0;

			.bg-left {
				pointer-events: none;
				position: absolute;
				z-index: -3;
				bottom: 0;
				left: 0;
				max-height: 100%;
				max-width: 20%;
			}

			.bg-right {
				pointer-events: none;
				position: absolute;
				z-index: -3;
				bottom: 0;
				right: 0;
				max-height: 100%;
				max-width: 25%;
			}

			.bg-bottom {
				pointer-events: none;
				position: absolute;
				z-index: -2;
				bottom: -1px;
				left: 0;
				width: 100%;
			}

			.pic-item {
				pointer-events: none;
				position: absolute;
				z-index: -1;
				max-width: 100%;
				max-height: 100%;
				bottom: 0;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
			}

			.content-slide {
				width: 500px;
				max-width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 100px 15px;
				transform: translate(-50%, -50%);
				position: relative;

				.title-slide {
					font-weight: 400;
					font-size: 115px;
					line-height: 1;
					color: #fff;
					margin-bottom: 13px;
				}

				.description-slide {
					color: #fff;
					list-style-type: none;
					padding: 0;
					margin-bottom: 45px;

					li {
						padding-left: 13px;
						position: relative;
						margin-bottom: 4px;

						&:last-child {
							margin-bottom: 0;
						}

						&::before {
							content: '';
							display: block;
							width: 5px;
							height: 5px;
							border-radius: 50%;
							background-color: #fff;
							position: absolute;
							top: 10px;
							left: 0;
						}
					}
				}

				.buttons-slide {
					letter-spacing: 10px;

					.hun-button {
						padding: 0 37px;
						text-transform: uppercase;
						margin: 6px 0;

						&:hover {
							background-color: #fff;
							border-color: #fff;
							color: $main-color-01 !important;
						}
					}
				}
			}

			&.item-slide-01 {
				background-color: #28c8db;

				.content-slide {
					top: 42%;
					left: 36%;

					.buttons-slide {
						.hun-button {
							&:hover {
								color: #28c8db !important;
							}
						}
					}
				}
			}

			&.item-slide-02 {
				background-color: #b392d2;

				.content-slide {
					top: 49%;
					left: 68%;

					.buttons-slide {
						.hun-button {
							&:hover {
								color: #b392d2 !important;
							}
						}
					}
				}
			}

			&.item-slide-03 {
				background-color: #e995b5;

				.content-slide {
					top: 49%;
					left: 68%;

					.buttons-slide {
						.hun-button {
							&:hover {
								color: #e995b5 !important;
							}
						}
					}
				}
			}
		}

		.dots-slick {
			position: absolute;
			z-index: 10;
			top: 0;
			right: 0px;
			width: 70px;
			height: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			overflow: hidden;

			.slick-dots {
				list-style-type: none;
				padding: 0;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-end;

				li {
					cursor: pointer;
					font-family: $main-font-02;
					font-weight: 400;
					font-size: 20px;
					line-height: 1.3;
					color: #fff;
					padding: 10px 0;
					transition: all .3s;
					position: relative;

					&::before {
						content: '';
						display: block;
						width: 31px;
						height: 1px;
						background-color: #fff;
						position: absolute;
						top: 50%;
						left: 39px;
						opacity: 0;
						transition: all .3s;
					}				

					&:hover {
						text-shadow: 0px 0px 3px #fff;
					}

					&.slick-active {
						font-size: 30px;

						&::before {
							opacity: 1;
						}
					}
				}
			}
		}

		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			.item-slick {
				height: 100vh;
			}
		}
	}

	@media (max-width: 1599px) {
		.main-slider {
			.item-slick {
				.content-slide {
					.title-slide {
						font-size: 105px;
					}
				}
			}
		}
	}

	@media (max-width: 1199px) {
		.main-slider {
			.item-slick {
				min-height: 0 !important;

				.bg-left {
					max-height: 350px;
				}

				.bg-right {
					max-height: 350px;
				}

				.pic-item {
					max-height: 350px;
				}

				.content-slide {
					width: 80%;
					height: 100%;
					margin-right: auto;
					margin-left: auto;
					padding-bottom: 250px;
					transform: translate(0%, 0%);
					position: static;
					top: 0 !important;
					left: 0 !important;

					.title-slide {
						font-size: 95px;
						margin-bottom: 23px;
					}
				}
			}

			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				.item-slick {
					height: auto;
					min-height: 0;
				}
			}
		}
	}

	@media (max-width: 991px) {
		.main-slider {
			.item-slick {
				.bg-left {
					max-height: 300px;
				}

				.bg-right {
					max-height: 300px;
				}

				.pic-item {
					max-height: 300px;
				}

				.content-slide {
					width: 80%;
					padding-top: 120px;
					padding-bottom: 300px;

					.title-slide {
						font-size: 65px;
					}
				}
			}

			.dots-slick {
				width: 60px;

				.slick-dots {
					li {
						&::before {
							width: 21px;
							left: 39px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 767px) {
		.main-slider {
			.item-slick {
				.bg-left {
					max-height: 200px;
				}

				.bg-right {
					max-height: 200px;
				}

				.pic-item {
					max-height: 200px;
				}

				.content-slide {
					width: 90%;
					padding-left: 30px;
					padding-right: 80px;
					padding-bottom: 200px;

					.title-slide {
						font-size: 55px;
					}
				}
			}

			.dots-slick {
				width: 60px;

				.slick-dots {
					li {
						&::before {
							width: 21px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 575px) {
		.main-slider {
			.item-slick {
				.bg-left {
					max-height: 150px;
				}

				.bg-right {
					max-height: 150px;
				}

				.pic-item {
					max-height: 150px;
				}

				.content-slide {
					width: 100%;
					padding-bottom: 160px;
					padding-left: 20px;
					padding-right: 50px;

					.title-slide {
						font-size: 35px;
						margin-bottom: 20px;
					}

					.description-slide {
						margin-bottom: 30px;
					}
				}
			}

			.dots-slick {
				width: 30px;

				.slick-dots {
					li {
						font-size: 15px;

						&.slick-active {
							font-size: 20px;
						}

						&::before {
							width: 8px;
							left: 22px;
						}
					}
				}
			}
		}
	}
}
