@model List<Models.Entity.Menu> 
<nav class="main-navigation">
    <ul class="list-menu">
        @foreach (var item in Model)
        {
            <li>
                <a href="@item.link">
                    @item.text
                </a>

                @*<ul class="sub-menu">
                    <li>
                        <a href="services-01.html">
                            Services 01
                        </a>
                    </li>

                    <li>
                        <a href="services-02.html">
                            Services 02
                        </a>
                    </li>

                    <li>
                        <a href="service-detail.html">
                            Service Detail
                        </a>
                    </li>
                </ul>*@
            </li>
        }
      
    </ul>
</nav>
