
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hun-element-404error layout-1 full-height-with-header" style="background-image: url(/Asset/Client/images/bg-08.jpg);">
    <h2 class="title-element">
        Success
        <br>
        Good day for you !
    </h2>


    <div class="buttons-element">
        <a href="/serviceshome" class="hun-button size-normal shape-round style-fill-light">
            Go Back
        </a>

        <a href="/" class="hun-button size-normal shape-round style-fill-color">
            Home Page
        </a>
    </div>
</div>



