
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Title Page -->
<div class="title-page" style="background-image: url(/Asset/Client/images/title-page-01.png);">
    <div class="container">
        <h1 class="main-title">
            Blog
        </h1>

        <ul class="breadcrumbs">
            <li>
                <a href="/">
                    Home
                </a>
            </li>

            <li>
                Blog Sidebar Right
            </li>
        </ul>
    </div>
</div>
<!-- end Title Page -->
<!-- Content Page -->
<div class="content-page have-sidebar-right">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="main-content">
                    <div class="hun-element-blog layout-1">
                        <div class="item-blog">
                            <div class="pic-blog">
                                <a href="blog-detail.html">
                                    <img src="/Asset/Client/images/blog-01.jpg" alt="IMG">
                                </a>
                            </div>

                            <div class="text-blog">
                                <div class="cat-blog">
                                    <a href="#" class="item-cat">
                                        Beauty
                                    </a>

                                    <a href="#" class="item-cat">
                                        Spa
                                    </a>
                                </div>

                                <h4 class="title-blog">
                                    <a href="blog-detail.html">
                                        Lorem ipsum dolor sit amet, consectetur
                                    </a>
                                </h4>

                                <div class="description-blog">
                                    Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
                                </div>
                            </div>

                            <div class="foot-item">
                                <a href="blog-detail.html" class="link-blog">
                                    Read more
                                </a>

                                <ul class="share-link">
                                    <li>
                                        <a href="#" class="item-share">
                                            <i class="icon-social-facebook"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="item-share">
                                            <i class="icon-social-twitter"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="item-share">
                                            <i class="icon-social-dribbble"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="item-share">
                                            <i class="icon-social-tumblr"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="item-blog">
                            <div class="pic-blog">
                                <a href="blog-detail.html">
                                    <img src="/Asset/Client/images/blog-02.jpg" alt="IMG">
                                </a>
                            </div>

                            <div class="text-blog">
                                <div class="cat-blog">
                                    <a href="#" class="item-cat">
                                        Beauty
                                    </a>

                                    <a href="#" class="item-cat">
                                        Spa
                                    </a>
                                </div>

                                <h4 class="title-blog">
                                    <a href="blog-detail.html">
                                        Quis autem vel eum iure reprehenderit
                                    </a>
                                </h4>

                                <div class="description-blog">
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
                                </div>
                            </div>

                            <div class="foot-item">
                                <a href="blog-detail.html" class="link-blog">
                                    Read more
                                </a>

                                <ul class="share-link">
                                    <li>
                                        <a href="#" class="item-share">
                                            <i class="icon-social-facebook"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="item-share">
                                            <i class="icon-social-twitter"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="item-share">
                                            <i class="icon-social-dribbble"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="item-share">
                                            <i class="icon-social-tumblr"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="item-blog">
                            <div class="pic-blog">
                                <a href="blog-detail.html">
                                    <img src="/Asset/Client/images/blog-03.jpg" alt="IMG">
                                </a>
                            </div>

                            <div class="text-blog">
                                <div class="cat-blog">
                                    <a href="#" class="item-cat">
                                        Beauty
                                    </a>

                                    <a href="#" class="item-cat">
                                        Spa
                                    </a>
                                </div>

                                <h4 class="title-blog">
                                    <a href="blog-detail.html">
                                        Sed ut perspiciatis unde omnis iste natus
                                    </a>
                                </h4>

                                <div class="description-blog">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                                </div>
                            </div>

                            <div class="foot-item">
                                <a href="blog-detail.html" class="link-blog">
                                    Read more
                                </a>

                                <ul class="share-link">
                                    <li>
                                        <a href="#" class="item-share">
                                            <i class="icon-social-facebook"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="item-share">
                                            <i class="icon-social-twitter"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="item-share">
                                            <i class="icon-social-dribbble"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="item-share">
                                            <i class="icon-social-tumblr"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="item-blog">
                            <div class="pic-blog">
                                <a href="blog-detail.html">
                                    <img src="/Asset/Client/images/blog-04.jpg" alt="IMG">
                                </a>
                            </div>

                            <div class="text-blog">
                                <div class="cat-blog">
                                    <a href="#" class="item-cat">
                                        Beauty
                                    </a>

                                    <a href="#" class="item-cat">
                                        Spa
                                    </a>
                                </div>

                                <h4 class="title-blog">
                                    <a href="blog-detail.html">
                                        Nor again is there anyone who loves
                                    </a>
                                </h4>

                                <div class="description-blog">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                </div>
                            </div>

                            <div class="foot-item">
                                <a href="blog-detail.html" class="link-blog">
                                    Read more
                                </a>

                                <ul class="share-link">
                                    <li>
                                        <a href="#" class="item-share">
                                            <i class="icon-social-facebook"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="item-share">
                                            <i class="icon-social-twitter"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="item-share">
                                            <i class="icon-social-dribbble"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="item-share">
                                            <i class="icon-social-tumblr"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="loop-pagination text-center">
                        <ul>
                            <li class="d-none">
                                <a href="#" class="page-numbers prev">
                                    <i class="zmdi zmdi-chevron-left"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="page-numbers current">
                                    1
                                </a>
                            </li>

                            <li>
                                <a href="#" class="page-numbers">
                                    2
                                </a>
                            </li>

                            <li>
                                <a href="#" class="page-numbers">
                                    3
                                </a>
                            </li>

                            <li>
                                <a href="#" class="page-numbers next">
                                    <i class="zmdi zmdi-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 js-call-sticky-sidebar">
                <div class="main-sidebar">
                    <div class="hun-widget-search layout-1">
                        <form>
                            <input type="text" placeholder="Search">

                            <button>
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                    </div>

                    <div class="hun-widget-author layout-1">
                        <div class="inner-widget">
                            <div class="ava-author">
                                <a href="#">
                                    <img src="/Asset/Client/images/ava-05.jpg" alt="IMG">
                                </a>
                            </div>

                            <h4 class="name-author">
                                <a href="#">
                                    Sharon Jenkins
                                </a>
                            </h4>

                            <div class="info-author">
                                <a href="#">
                                    sharon86@example.com
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="hun-widget-categories layout-1">
                        <h3 class="title-widget">
                            Categories
                        </h3>

                        <ul>
                            <li>
                                <a href="#">
                                    Skin Care
                                </a>

                                <span class="count">
                                    (15)
                                </span>
                            </li>

                            <li>
                                <a href="#">
                                    Beauty
                                </a>

                                <span class="count">
                                    (09)
                                </span>
                            </li>

                            <li>
                                <a href="#">
                                    Spa
                                </a>

                                <span class="count">
                                    (28)
                                </span>
                            </li>

                            <li>
                                <a href="#">
                                    Massage
                                </a>

                                <span class="count">
                                    (13)
                                </span>
                            </li>

                            <li>
                                <a href="#">
                                    Bath & Body
                                </a>

                                <span class="count">
                                    (30)
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="hun-widget-posts layout-1">
                        <h3 class="title-widget">
                            Recent Posts
                        </h3>

                        <div class="list-post">
                            <div class="item-post">
                                <a href="#" class="pic-post">
                                    <img src="/Asset/Client/images/post-widget-01.jpg" alt="IMG">
                                </a>

                                <div class="text-post">
                                    <div class="date-post">
                                        august 25
                                    </div>

                                    <h4 class="title-post">
                                        <a href="#">
                                            Guide to Beauty
                                        </a>
                                    </h4>
                                </div>
                            </div>

                            <div class="item-post">
                                <a href="#" class="pic-post">
                                    <img src="/Asset/Client/images/post-widget-02.jpg" alt="IMG">
                                </a>

                                <div class="text-post">
                                    <div class="date-post">
                                        august 25
                                    </div>

                                    <h4 class="title-post">
                                        <a href="#">
                                            Exfoliate Your
                                        </a>
                                    </h4>
                                </div>
                            </div>

                            <div class="item-post">
                                <a href="#" class="pic-post">
                                    <img src="/Asset/Client/images/post-widget-03.jpg" alt="IMG">
                                </a>

                                <div class="text-post">
                                    <div class="date-post">
                                        august 25
                                    </div>

                                    <h4 class="title-post">
                                        <a href="#">
                                            Achieve Maxi
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hun-widget-tags layout-1">
                        <h3 class="title-widget">
                            Tags
                        </h3>

                        <div class="list-tag">
                            <a href="#" class="item-tag">
                                Beauty
                            </a>

                            <a href="#" class="item-tag">
                                Spa
                            </a>

                            <a href="#" class="item-tag">
                                message
                            </a>
                        </div>
                    </div>

                    <div class="hun-widget-text">
                        <a href="#">
                            <img src="/Asset/Client/images/insta-widget-01.jpg" alt="IMG">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Content Page -->
