$main-color-01: #28c8db;
$main-color-01-R: 40;
$main-color-01-G: 200;
$main-color-01-B: 219;

$main-color-02: #020041;
$main-color-02-R: 2;
$main-color-02-G: 0;
$main-color-02-B: 65;

$main-font-01: Nunito;
$main-font-02: Alice;
$text-color-01: #5e5e78;
$text-color-02: #39385a;
$title-color-01: #39385a;
